.skillsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1178px;
  margin-bottom: 25px;
}

.skillBadges {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 15px;
  flex-wrap: wrap;
}

.badge {
  border-radius: 8px;
  margin: 5px;
}

.badge:hover{
  cursor: pointer;
  border-color: #EAB307;
  box-shadow: 0 0 10px #EAB307;
}