.contactContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95%;
  max-width: 965px;
  border: solid white 1px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.contactLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}